/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

/* Modal Container */
.modal {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  width: 350px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

/* Close Button */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: black;
  color: white;
  border: 2px solid white;
  font-weight: bold;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 6px; /* Borde ligeramente redondeado */
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s, transform 0.2s;
}

.modal-message {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #333;
  background-color: #f2f2f2;
  padding: 0.6rem;
  border-left: 4px solid #61dafb;
  border-radius: 6px;
}

.close-button:hover {
  background-color: #333;
  transform: scale(1.05);
}


/* Form */
.modal form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modal input {
  padding: 0.7rem;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.modal button[type="submit"] {
  background-color: #61dafb;
  color: #20232a;
  border: none;
  padding: 0.7rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.modal button[type="submit"]:hover {
  background-color: #21a1f1;
}
